flask
flask-sqlalchemy
flask-cors
flask-mail
psycopg2-binary
python-dotenv
PyJWT
google-auth
google-auth-oauthlib
google-api-python-client
requests
APScheduler
pytz
cryptography
gunicorn
werkzeug
pandas
ortools
sqlalchemy
